3-Web-Services-and-Cloud/SoaRestServicesHW/DistanceCalculatorClient/Service References/ServiceReferenceDistanceCalculator/ServiceDistanceCalculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DistanceCalculatorSoapService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DistanceCalculatorSoapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Point">
    <xs:sequence>
      <xs:element name="x" type="xs:int" />
      <xs:element name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Point" nillable="true" type="tns:Point" />
</xs:schema>